[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autobuild = "*"
sphinxcontrib-plantuml = "*"

[dev-packages]

[requires]
python_version = "3.9"
